mixin how-it-works(data)
    section.content-block-wrap
        .container.container--content-block
            .content-block
                .content-block__title Wow it works
                .content-block__subtitle Everything you want is in this pics.
                .content-block__items-wrap
                    .content-block__item
                        .content-block__img-wrap
                            picture
                                img(src='static/img/content/picture1.png' srcset='static/img/content/picture1@2x.png')
                        .content-block__text
                            p You should think about it. Make it part of you. Don’t&nbsp;wait!
                    .content-block__item
                        .content-block__img-wrap
                            picture
                                img(src='static/img/content/picture2.png' srcset='static/img/content/picture2@2x.png')
                        .content-block__text
                            p Try to relax. Doge can not do bad things at all. It’s like a beautiful dream with you inside.
                    .content-block__item
                        .content-block__img-wrap
                            picture
                                img(src='static/img/content/picture3.png' srcset='static/img/content/picture3@2x.png')
                        .content-block__text
                            p Why you only a little human?&nbsp;Be a doge.
