mixin promo-block(data)
    section.promo-block-wrap
        .container
            .promo-block
                h1.promo-block__title Such Doge project.
                .promo-block__text
                    p No pain, no gain. Only Doge.
